<!DOCTYPE html>
<html>
    <head>
        <title>Contact Page</title>
    </head>
    <body>
        <p>To get in touch, please send an email to <a href="mailto:support@lenslocked.com">support@lenslocked.com</a>.</p>
        <a href="/">Go back home</a><br/>
        <a href="/faq">FAQ page</a><br/>
    </body>
</html>

{{template "footer"}}
